h3 {
  font-size: 2em;  
}

h3 a {
  color: white;
  font-size: 0.8em;
  display: inline-block;
  padding: 0 0.5em;
}

h3 a:hover {
  cursor: pointer;
}

.total-calories {
  background-color: #a0e6d8;
}

.total-calories .calories-count {
  color: #16a085;
  font-size: 3em;
}

.total-calories .target-calories {
  font-size: 1.5em;
}

.total-calories.exceeded {
  background-color: #eab38f;
}

.total-calories.exceeded .calories-count {
  color: #d35400;
}

.meal-detail {
  overflow: hidden;
}

.meal-detail h4 {
  font-size: 1.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meal-detail .actions {
  visibility: hidden;
}

.meal-detail:hover .actions {
  visibility: visible;
}
