<div id="tracker">
  <h1>My Tracker</h1>
  <sd-day></sd-day>
  <div class="clearfix separator"></div>
  <sd-add-meal></sd-add-meal>
  <div class="clearfix separator"></div>
  <div class="clearfix separator"></div>

  <div class='tabs-container'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#all-meals" aria-controls="all-meals" role="tab" data-toggle="tab">All Meals</a></li>
      <li role="presentation"><a href="#analyzer" aria-controls="analyzer" role="tab" data-toggle="tab">Anayze Cal Intake</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="all-meals">
        <sd-tracker-chart></sd-tracker-chart>
      </div>
      <div role="tabpanel" class="tab-pane" id="analyzer">
        <sd-cal-analyzer></sd-cal-analyzer>
      </div>
    </div>
  </div>

  <div class="clearfix separator"></div>
</div>
