<h2>
  <a (click)="getPreviousDaysMeals()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  {{dayString}}
  <a (click)="getNextDaysMeals()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</h2>

<div class="total-calories">{{caloriesCount}} of {{caloriesTarget}}</div>

<section id="active-day-meals" class="row">
  <div class="meal-detail col-md-3 col-sm-4 col-xs-6" *ngFor="let meal of meals">
    <h4>{{meal.title}}</h4>
    <p class="time">{{meal.momentObj.format('hA')}}</p>
    <p class="calories">{{meal.calories}} Cal</p>
  </div>
</section>

<button class="pull-right btn btn-success" (click)="showNewMealForm()" *ngIf='!isNewMealFormVisible'>
  <i class="fa fa-plus" aria-hidden="true"></i>
  Add Meal
</button>

<div id="new-meal-form-container" *ngIf='isNewMealFormVisible'>
  <form class="form-horizontal">
    <fieldset>
      <legend>Add New Meal</legend>
      <div class="form-group">
        <label for="title" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Eg. Cheese Burger">
        </div>
      </div>
      <div class="form-group">
        <label for="time" class="col-lg-2 control-label">Time</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="2016-08-30T11:52:01.000Z">
        </div>
      </div>
      <div class="form-group">
        <label for="time" class="col-lg-2 control-label"># Calories</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="2000">
        </div>
      </div>
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" (click)="hideNewMealForm()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </fieldset>
  </form>
</div>
